
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 30px;
  }
  
  .error {
    color: red;
    margin: 20px 0;
  }

  .tableContainer{
    overflow-x: scroll;
  }